<!-- Start our Proposal section -->
<section id="proposal" class="section proposal-section">
  <div class="container">
    <div class="proposal-container">
      <h2 class="visually-hidden">Proposal to leave an application</h2>
      <p class="title">
        Extended <span class="title-language">Service</span> Package
      </p>
      <div class="proposal-inner">
        <div class="proposal-wrapper">
          <!-- <p class="proposal-text">Power of English</p> -->
          <ul class="proposal-list">
            <li class="proposal-item">
              <div class="icon-wrapper">
                <svg class="check-icon" width="14" height="14">
                  <use href="/img/icons.svg#icon-check"></use>
                </svg>
              </div>
              <p class="proposal-item-text">
                Document Apostille
                Apostille of personal and corporate documents for
                 official use in the Czech Republic and abroad.
              </p>
            </li>
            <li class="proposal-item">
              <div class="icon-wrapper">
                <svg class="check-icon" width="14" height="14">
                  <use href="/img/icons.svg#icon-check"></use>
                </svg>
              </div>
              <p class="proposal-item-text">
                Datová schránka Setup
                Application preparation and full assistance in
                 opening a datová schránka, including client presence.
              </p>
            </li>
            <li class="proposal-item">
              <div class="icon-wrapper">
                <svg class="check-icon" width="14" height="14">
                  <use href="/img/icons.svg#icon-check"></use>
                </svg>
              </div>
              <p class="proposal-item-text">
                Bank Account Opening
                Support with opening personal and corporate bank accounts
                 in Czech banks, with required client presence.
              </p>
            </li>
            <li class="proposal-item">
              <div class="icon-wrapper">
                <svg class="check-icon" width="14" height="14">
                  <use href="/img/icons.svg#icon-check"></use>
                </svg>
              </div>
              <p class="proposal-item-text">
                Service Power of Attorney
                Preparation of a power of attorney for full service support,
                notarized at the client’s consulate if required.
              </p>
            </li>
          </ul>
          <a href="#application-form" class="button proposal-button">Leave an application</a>
          <div class="books-image-wrapper">
            <picture>
              <source srcset="
                  /img/books/books@1x.avif 1x,
                  /img/books/books@2x.avif 2x
                " type="image/avif" />
              <source srcset="/img/books/books@1x.png 1x, /img/books/books@2x.png 2x" />
              <img src="/img/books/books@1x.png" alt="Tall stack of books" class="books-img animated" width="321"
                height="368" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End our Proposal section -->