.about-wrapper {
   /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; */
  display: flex; 
      flex-wrap: wrap;
    justify-content: center;
    /* центрируем по горизонтали */
    gap: 32px;
    /* расстояние между карточками */
    width: 100%;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 32px;
    align-items: stretch;
    max-width: 1024px;
  }
}

.about-list {
  display: flex;
    flex: direction;
      justify-content: center;    /* центрируем по горизонтали */
    gap: 32px;    /* расстояние между карточками */
    width: 100%;
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
  counter-reset: aboutCount;
  margin: 0;
  padding: 0; */

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
.topic-title {
  font-size: px;
    font-weight: 1200;
    line-height: 1.2;
    letter-spacing: -0.02em;  
  color: var(--green);
  margin-bottom: 12px;

}  

.about-item {
  width: 100%;
  padding: 32px 32px 32px 32px;
  border-radius: 16px;
  background: var(--gray);

  counter-increment: aboutCount;
  /* position: relative; */

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
  }
}

.about-item::before {
  content: counter(aboutCount, decimal-leading-zero);
  position: absolute;
  left: 32px;
  top: 32px;
  color: var(--green);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.02em;
} 

.about-item-text {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

