.header {
  padding: 20px 0;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: rgb(129, 167, 109);
  
}
.logo-green-span {
  
  color: rgb(129, 167, 109);

  
}
.logo-span {
  color: rgb(231, 100, 7);
    
}

.burger-btn {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  padding: 0;
  fill: rgb(18, 20, 23);
  transition: var(--common-transition);
  transition-property: color;

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 28px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.burger-btn:hover,
.burger-btn:focus {
  color: rgb(231, 100, 7);
}

.burger-icon .icon--mobile {
  display: inline;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger-icon .icon--wide {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
  }
}

.burger-icon {
  display: block;
  width: 32px;
  height: 32px;
  stroke: currentColor;
  fill: none;

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 28px;
  }
}

.no-scroll {
  overflow: hidden;
}

.burger_modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 1000;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.burger_modal.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.burger_container {
  position: absolute;
  top: 0;
  right: 0;
  width: min(64vw, 384px);
  height: 50%;
  background:rgba(129, 167, 109, 1);
  padding: 20px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  transform: translateX(100%);
  transition: var(--common-transition);
  transition-property: transform;
}

.burger_modal.is-open .burger_container {
  transform: translateX(0);
}

.close-btn {
  align-self: flex-end;
  background: transparent;
  padding: 0;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(243, 245, 246);
  border-radius: 50%;
  border: 1px solid transparent;
  transition: var(--common-transition);
  transition-property: border, background;

  @media screen and (min-width: 768px) {
    width: 50px;
    height: 50px;
  }
}

.close-btn:hover,
.close-btn:focus {
  border: 1px solid var(--lighter-green);
  background: var(--gradient-green);
}

.close-btn .modal-close {
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.modal-close {
  display: block;
  stroke: currentColor;
  fill: none;
}

.modal-nav-list {
  display: flex;
    flex-direction: column;
    /* если список вертикальный */
    justify-content: center;
    align-items: center;
    gap: 24px;
    /* расстояние между кнопками */
    padding: 0;
    margin: 0;
    list-style: none;
}

.modal-nav-item .nav-link {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.29;
  text-align: center;
 

  transition: var(--common-transition);
  transition-property: color, border, background;
}

.modal-nav-item {
  position: relative;
  width: 100%;
  text-align: center;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 110%;
  height: 4px;
  border-radius: 4px;
  background: rgba(129, 167, 109, 1);
  transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.active::after {
  transform: translateX(-50%) scaleX(1);
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.social-item {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid var(--white-border);
  transition: var(--common-transition);
  transition-property: border, background;
  cursor: pointer;
} */

 .social-link {
  background: transparent;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  transition: var(--common-transition);
  transition-property: color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
}

.social-icon {
  display: block;
  width: 26px;
  height: 26px;
  fill: currentColor;
  stroke: none;
}

.social-item:hover,
.social-item:focus {
  border: 1px solid transparent;
  background: var(--gradient-green-dark);
}

.header-nav-item {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  cursor: pointer;
}

.header-link {
  color: var(--black);
  transition: var(--common-transition);
  transition-property: color;
}

.social,
.page-nav {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.header-nav-list {
  display: flex;
  gap: 20px;
}

.nav-item {
  position: relative;
}

.header-nav-item:hover,
.header-nav-item:focus,
.header-nav-item.active {
  .header-link {
    color: rgb(98, 129, 82);
  }
}

.modal-nav-link {
  color: rgb(18, 20, 23);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.29;
}